<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-info navbar-dark fixed-top">
       <!--  <a class="navbar-brand" href="#">
            <img  alt="logo" style="width:60px;">
        </a> -->
        
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="nav navbar-nav navbar-center">
            <li class="nav-item">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Shop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/cart']" (click)="getSelectedProduct()"><img class="cart" src="https://image.flaticon.com/icons/svg/34/34387.svg">
                    <span  *ngIf="noOfItems>0" class="badge badge-dark">{{noOfItems}}</span>
                </a>
              </li>
              <li class="nav-item"> 
                  <a class="nav-link" >
                      <span  *ngIf="amount>0" class="badge badge-success"> &#x20B9; {{amount}}</span>
                  </a>
              </li>
          </ul>
        </div>
      </nav>
      <br><br><br>
      <div class="container">
          <div class="row">
            <div class="col-sm-4" *ngFor= "let data of data; let i=index">
              <div class="card-deck" >
              <div class="card" style="width:400px">
                  <img class="card-img-top" src="{{data.src}}" alt="Card image" style="width:100%">
                  <div class="card-body">
                    <h4 class="card-title">{{data.productName}}</h4>
                    <p class="card-text">{{data.desc}}</p>
                    <form>
                        <label>Quantity <input type="number" id="{{i}}" name="quantity" #quantity min="0" max="10" ></label> <br><br>
                      <label> &#x20B9; {{data.price}}</label><br><br>
                      <button class="btn btn-info" id="{{i}}" type="button" (click)="onChange(quantity.value,quantity.id)">Add to cart</button>
                    
                    </form>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
      
      </div>
</body>
</html>




